@import "tailwindcss";
@import "shadcn/tailwind.css";


@custom-variant dark (&:is(.dark *));

@theme {
  /* Cores do Goeat */
  --color-goeat-dark: #0D6F65;
  --color-goeat-primary: #A1EE30;

  /* Cores que o Shadcn usa (Mantenha essas variáveis aqui) */
  --color-background: white;
  --color-foreground: #A1EE30;
  
  --color-primary: var(--color-goeat-primary);
  --color-primary-foreground: var(--color-goeat-dark);
  
  --color-border: #A1EE30;
  --color-input: #e2e8f0;
  --color-ring: var(--color-goeat-primary);

  --radius-lg: 0.75rem;
  --radius-md: calc(0.75rem - 2px);
  --radius-sm: calc(0.75rem - 4px);
}

@layer utilities {
  .bg-goeat-gradient {
    background-color: #ffffff;
    background-image: radial-gradient(
      ellipse at top right, 
      rgba(163, 230, 53, 0.2) 0%, 
      transparent 50%
    );
  }
}

/* Isso remove os estilos chatos do Vite que centralizam tudo e quebram o layout */
@layer base {
  body {
    @apply m-0 flex min-h-screen flex-col bg-background text-foreground antialiased;
    display: block; /* Sobrescreve o display: flex do Vite */
  }
}